body {
  font-family: 'Helvetica Neue',Arial,sans-serif;
  color: #001A33;
}
.content {
  margin-top: 70px;
}
.error {
  color: red;
}

.form-gap {
  padding-top: 70px;
  padding-bottom: 70px;
}

.sign-up-name {
  padding-bottom: 15px;
}

.loading-text {
  padding-top: 51px;
  position: relative;
  right: 9px;
  color: gray;
}
.extra-top-pad {
  padding-top: 8px;
}

.audio-card i {
  font-size: 1.5rem;
}

//audio {width: 100%;}

// debugging - show outline of grid rows
//div[class="row"] {
//  border: 1px dotted rgba(0, 0, 0, 0.5);
//}
//
//div[class^="col-"] {
//  background-color: rgba(255, 0, 0, 0.2);
//}