body {
  font-family: 'Helvetica Neue',Arial,sans-serif;
  color: #001A33;
}
.content {
  margin-top: 70px;
}
.error {
  color: red;
}

.form-gap {
  padding-top: 70px;
}

.sign-up-name {
  padding-bottom: 15px;
}

.loading-text {
  padding-top: 51px;
  position: relative;
  right: 9px;
  color: gray;
}
.extra-top-pad {
  padding-top: 8px;
}