.navbar-brand {
  padding-left: 1px;
  padding-right: 10px;
}

input[type=text].nav-search-input {
  min-width: 290px;
  padding: 6px 10px 6px 30px;
  color: #001A33;
  font-weight: 300;
  background-color: transparent;
}

.nav-search {
  position: relative;
  background-color: #fef6ff;
  border-radius: 3px;

  i {
    position: absolute;
    top: 8px;
    left: 10px;
    color: gray;
    pointer-events: none;
  }
}

.nav-login {

  i {
    color: #001A33;
    font-size: large;
    padding-right: 3px;
    padding-left: 3px;
  }

}

.navbar-content
{
  width:320px;
  padding: 15px;
  padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
  display: table;
  content: "";
  line-height: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}
.navbar-footer
{
  background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}