.view-clip {

  .tag-group {
    padding-top: 10px;
    padding-left: 20px;
    float: left;
  }
  .clip-duration {
    padding-top: 5px;
  }
  .clip-description {
    padding-top: 5px;
  }

  .tag {
    margin-left: 10px;
    cursor: default;
  }
  .clip-subTitle {
    padding-top: 11px;
  }

  .clip-userInfo {
    margin: 25px 0 0 12px;
    padding: 1px;

    a {
      margin-right: 12px;
    }

    .clip-userBody {

      hr {
        margin:8px auto
      }
    }
  }

}